{
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "vueIndentScriptAndStyle": false,
  "printWidth": 140,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "proseWrap": "always"
}
