{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
